@model IEnumerable<webSchool.Models.School>

<a href="~/home/index"> <img style="height:40px; margin-left: 25%; width:40px;" src="~/Poster/back.png"/> </a>
<div style="width:550px; margin:auto; color:white; font-size:60px; border-radius:20px; text-align:center; height:120px; background-color:lightpink;">Пребарај училиште</div>

@using (Html.BeginForm("searchSchoolGet", "Schools"))
{

    <div style="margin-left: 40%;">
        <input type="text" placeholder="Внеси град" name="q" id="q">
        <button type="submit"> <img style="heigth:30px; width: 30px;" src="~/Poster/search.png"/> </button>
    </div>
    
    <br /><br /><br />

    foreach (School item in Model)
    {
        <ul>
            <li style="background-color:pink;">
                @item.name <br />
           
                 @item.city <br />
            
                @item.street <br />
             
                @item.modules <br />
            </li>
            
        </ul>
    }
    <br />

}
