@model webSchool.Models.School

@{
    ViewData["Title"] = "Create";
}

<style>
    .a{
        padding-bottom: 4px;
    }
</style>

<h1 style="color: white; text-align:center; ">Додади ново училиште</h1>

<hr />
<div class="row" style="margin-left:38%; color:white;">
    <div class="col-md-4">
        <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group a">
                Назив
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Град
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Улица
                <input asp-for="street" class="form-control" />
                <span asp-validation-for="street" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Насока
                <input asp-for="modules" class="form-control" />
                <span asp-validation-for="modules" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Латитуда
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Лонгитуда
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Url за слика
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Контакт
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group a">
                E-mail
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Наставен кадар
                <input asp-for="teachers" class="form-control" />
                <span asp-validation-for="teachers" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Работно време
                <input asp-for="workTime" class="form-control" />
                <span asp-validation-for="workTime" class="text-danger"></span>
            </div>
            <div class="form-group a">
                Број на ученици
                <input asp-for="numOfStudents" class="form-control" />
                <span asp-validation-for="numOfStudents" class="text-danger"></span>
            </div>
            <div style="padding-top:15px;" class="form-group">
                <input type="submit" value="Зачувај" class="btn btn-success" />
            </div>
            <div style="padding-top:15px;" class="form-group">
                <a class="btn btn-danger" asp-action="Index">Назад кон листата</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
