@{
    ViewData["Title"] = "Credits";
}
<hr />
<h1 style="color:white; text-align:center; margin-top: 20px; background-color:grey; color:white;">ТИМОТ НА WEBSCHOOL</h1>
<hr />
<style>
    .position{
        float:left;
        width:250px;
        height:350px;
        margin-left:10px;
        text-align:center;
        margin-top: 20px;
        border-radius:10px;
        background-color:white;
        margin-bottom:10px;
    }
    .image{
        width:150px;
        height:150px;
        text-align:center;
        border:solid lightgrey 5px;
        margin-top:30px;
    }
    .divposition{
        padding-top:30px;
        font-weight:bold;
    }
</style>

<div class="row" style="background-color:grey; margin-top: 75px; height:400px; border-radius:10px;">
    <div class="col-xs-2 position">
        <img src="~/Poster/natasa.png" class="image"/>
        <div class="divposition">
            <hr />
            НАТАША ДЕРВЕНИЌ
            natashadervenic@gmail.com
        </div>
    </div>
    <div class="col-xs-2 position">
        <img src="~/Poster/martina.png" class="image"/>
        <div class="divposition">
            <hr />
            МАРТИНА ДОНЧЕВА
            doncevamartina@yahoo.com
        </div>
    </div>
    <div class="col-xs-3 position">
        <img src="~/Poster/bojan.png" class="image"/>
        <div class="divposition">
            <hr />
            БОЈАН ДУКОВСКИ
            bojan.dukovski211@gmail.com
        </div>
    </div>
    <div class="col-xs-2 position">
        <img src="~/Poster/mihaela.png" class="image"/>
        <div class="divposition">
            <hr />
            МИХАЕЛА ЈУРУКОВСКА
            mihaelajurukovska1@gmail.com
        </div>
    </div>
    <div class="col-xs-2 position" style="margin-right:5px;">
        <img src="~/Poster/sofija.png" class="image"/>
        <div class="divposition">
            <hr />
            СОФИЈА ЛАЗАРОВА
            sofija.lazarova888@gmail.com
        </div>
    </div>
</div>
