@{
    ViewData["Title"] = "Почетна";
}
<div  class="display-1 text-center align-content-center">
        <img style="height: 150px; width:600px;" src="~/Poster/logo.png"/>
    </div>
<div class="align-content-center" style="float:left;">
    
    <div class="mt-5">
        <h3 class="display-4 font-weight-bold" style=" color: black;">ДОБРЕДОЈДЕ!</h3>
        <div style="font-size:larger; width:400px">
            <p>НАЈДИ ИНФОРМАЦИИ ЗА СИТЕ СРЕДНИ УЧИЛИШТА ЗА КОИ СИ ЗАИНТЕРЕСИРАН!</p>
        </div>
        <div>
            <button class="pr-3" style="background-color:rgb(235, 192, 222); border-radius:18px;  height:60px; font-size:23px"><a href="~/schools/searchSchoolGet" style="text-decoration:none; color: rgb(89, 68, 83);">ПРЕБАРАЈ УЧИЛИШТЕ</a></button> <br /> <br />
            <button class="pr-3" style="background-color:rgb(235, 192, 222); border-radius:18px;  height:60px; font-size:23px"><a href="~/schools/index" style="text-decoration:none; color: rgb(89, 68, 83);">ЛИСТА СО СИТЕ УЧИЛИШТА</a></button>
        </div>
    </div>
</div>
<div style="float:left; margin-top: 160px; ">
    <img src="~/Poster/one.png" style="height: 300px; width:470px; margin-right:20px;" />
    
    <img src="~/Poster/two.png" style="height: 300px; width:350px; "/>
</div>
